/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
This file is a part of Michele Viotto's portfolio
Copyright (C) 2020  Michele Viotto

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre{margin:0}button{background-color:transparent;background-image:none}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}fieldset,ol,ul{margin:0;padding:0}ol,ul{list-style:none}html{font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;line-height:1.5}*,:after,:before{box-sizing:border-box;border:0 solid #e2e8f0}hr{border-top-width:1px}img{border-style:solid}textarea{resize:vertical}input::-moz-placeholder, textarea::-moz-placeholder{color:#a0aec0}input:-ms-input-placeholder, textarea:-ms-input-placeholder{color:#a0aec0}input::-ms-input-placeholder, textarea::-ms-input-placeholder{color:#a0aec0}input::placeholder,textarea::placeholder{color:#a0aec0}[role=button],button{cursor:pointer}table{border-collapse:collapse}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}a{color:inherit;text-decoration:inherit}button,input,optgroup,select,textarea{padding:0;line-height:inherit;color:inherit}code,kbd,pre,samp{font-family:Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace}audio,canvas,embed,iframe,img,object,svg,video{display:block;vertical-align:middle}img,video{max-width:100%;height:auto}.container{width:100%}@media (min-width:640px){.container{max-width:640px}}@media (min-width:768px){.container{max-width:768px}}@media (min-width:1024px){.container{max-width:1024px}}@media (min-width:1280px){.container{max-width:1280px}}.space-x-2>:not(template)~:not(template){--space-x-reverse:0;margin-right:calc(0.5rem*var(--space-x-reverse));margin-left:calc(0.5rem*(1 - var(--space-x-reverse)))}.space-y-12>:not(template)~:not(template){--space-y-reverse:0;margin-top:calc(3rem*(1 - var(--space-y-reverse)));margin-bottom:calc(3rem*var(--space-y-reverse))}.bg-nord0{--bg-opacity:1;background-color:#2e3440;background-color:rgba(46,52,64,var(--bg-opacity))}.bg-nord1{--bg-opacity:1;background-color:#3b4252;background-color:rgba(59,66,82,var(--bg-opacity))}.bg-nord3{--bg-opacity:1;background-color:#4c566a;background-color:rgba(76,86,106,var(--bg-opacity))}.bg-nord8{--bg-opacity:1;background-color:#88c0d0;background-color:rgba(136,192,208,var(--bg-opacity))}.bg-nord10{--bg-opacity:1;background-color:#5e81ac;background-color:rgba(94,129,172,var(--bg-opacity))}.bg-nord11{--bg-opacity:1;background-color:#bf616a;background-color:rgba(191,97,106,var(--bg-opacity))}.border-nord2{--border-opacity:1;border-color:#434c5e;border-color:rgba(67,76,94,var(--border-opacity))}.border-nord3{--border-opacity:1;border-color:#4c566a;border-color:rgba(76,86,106,var(--border-opacity))}.hover\:border-nord8:hover{--border-opacity:1;border-color:#88c0d0;border-color:rgba(136,192,208,var(--border-opacity))}.rounded{border-radius:.25rem}.rounded-lg{border-radius:.5rem}.rounded-full{border-radius:9999px}.border{border-width:1px}.cursor-pointer{cursor:pointer}.block{display:block}.inline-block{display:inline-block}.flex{display:flex}.inline-flex{display:inline-flex}.grid{display:grid}.hidden{display:none}.flex-row{flex-direction:row}.flex-col{flex-direction:column}.flex-wrap{flex-wrap:wrap}.items-center{align-items:center}.self-center{align-self:center}.justify-start{justify-content:flex-start}.justify-center{justify-content:center}.justify-between{justify-content:space-between}.justify-evenly{justify-content:space-evenly}.font-sans{font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji}.font-serif{font-family:Georgia,Cambria,Times New Roman,Times,serif}.font-medium{font-weight:500}.font-semibold{font-weight:600}.font-bold{font-weight:700}.h-1{height:.25rem}.h-32{height:8rem}.h-px{height:1px}.h-full{height:100%}.h-screen{height:100vh}.text-sm{font-size:.875rem}.text-base{font-size:1rem}.text-lg{font-size:1.125rem}.text-2xl{font-size:1.5rem}.text-4xl{font-size:2.25rem}.my-auto{margin-top:auto;margin-bottom:auto}.mx-auto{margin-left:auto;margin-right:auto}.mt-2{margin-top:.5rem}.ml-2{margin-left:.5rem}.mt-3{margin-top:.75rem}.mb-3{margin-bottom:.75rem}.ml-3{margin-left:.75rem}.mt-4{margin-top:1rem}.mt-5{margin-top:1.25rem}.mb-5{margin-bottom:1.25rem}.mt-6{margin-top:1.5rem}.mt-8{margin-top:2rem}.mb-8{margin-bottom:2rem}.mt-16{margin-top:4rem}.-mt-4{margin-top:-1rem}.max-w-xs{max-width:20rem}.min-h-screen{min-height:100vh}.hover\:opacity-75:hover{opacity:.75}.focus\:outline-none:focus,.outline-none{outline:0}.p-1{padding:.25rem}.p-2{padding:.5rem}.p-3{padding:.75rem}.p-12{padding:3rem}.px-2{padding-left:.5rem;padding-right:.5rem}.py-5{padding-top:1.25rem;padding-bottom:1.25rem}.py-6{padding-top:1.5rem;padding-bottom:1.5rem}.px-8{padding-left:2rem;padding-right:2rem}.px-12{padding-left:3rem;padding-right:3rem}.py-20{padding-top:5rem;padding-bottom:5rem}.pt-3{padding-top:.75rem}.pt-12{padding-top:3rem}.pb-12{padding-bottom:3rem}.static{position:static}.sticky{position:-webkit-sticky;position:sticky}.top-0{top:0}.resize-none{resize:none}.shadow-md{box-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)}.shadow-lg{box-shadow:0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)}.shadow-inner{box-shadow:inset 0 2px 4px 0 rgba(0,0,0,.06)}.text-center{text-align:center}.text-nord0{--text-opacity:1;color:#2e3440;color:rgba(46,52,64,var(--text-opacity))}.text-nord4{--text-opacity:1;color:#d8dee9;color:rgba(216,222,233,var(--text-opacity))}.text-nord5{--text-opacity:1;color:#e5e9f0;color:rgba(229,233,240,var(--text-opacity))}.text-nord6{--text-opacity:1;color:#eceff4;color:rgba(236,239,244,var(--text-opacity))}.text-nord7{--text-opacity:1;color:#8fbcbb;color:rgba(143,188,187,var(--text-opacity))}.text-nord10{--text-opacity:1;color:#5e81ac;color:rgba(94,129,172,var(--text-opacity))}.text-nord11{--text-opacity:1;color:#bf616a;color:rgba(191,97,106,var(--text-opacity))}.hover\:text-nord8:hover{--text-opacity:1;color:#88c0d0;color:rgba(136,192,208,var(--text-opacity))}.hover\:text-nord9:hover{--text-opacity:1;color:#81a1c1;color:rgba(129,161,193,var(--text-opacity))}.hover\:text-nord10:hover{--text-opacity:1;color:#5e81ac;color:rgba(94,129,172,var(--text-opacity))}.focus\:text-nord8:focus{--text-opacity:1;color:#88c0d0;color:rgba(136,192,208,var(--text-opacity))}.focus\:text-nord9:focus{--text-opacity:1;color:#81a1c1;color:rgba(129,161,193,var(--text-opacity))}.uppercase{text-transform:uppercase}.lowercase{text-transform:lowercase}.tracking-wide{letter-spacing:.025em}.tracking-wider{letter-spacing:.05em}.w-6{width:1.5rem}.w-8{width:2rem}.w-16{width:4rem}.w-32{width:8rem}.w-40{width:10rem}.w-64{width:16rem}.w-3\/4{width:75%}.w-full{width:100%}.w-screen{width:100vw}.z-30{z-index:30}.gap-6{grid-gap:1.5rem;gap:1.5rem}.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr))}@-webkit-keyframes spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@keyframes spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@-webkit-keyframes ping{0%{transform:scale(1);opacity:1}75%,to{transform:scale(2);opacity:0}}@keyframes ping{0%{transform:scale(1);opacity:1}75%,to{transform:scale(2);opacity:0}}@-webkit-keyframes pulse{0%,to{opacity:1}50%{opacity:.5}}@keyframes pulse{0%,to{opacity:1}50%{opacity:.5}}@-webkit-keyframes bounce{0%,to{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}50%{transform:translateY(0);-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}@keyframes bounce{0%,to{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}50%{transform:translateY(0);-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}html{scroll-behavior:smooth}.landing{margin-top:-3rem;padding:3rem}.section{scroll-margin-top:3rem}.invalid-message{background-color:#d08770;background-color:rgba(208,135,112,var(--bg-opacity));border-left-width:4px;--border-opacity:1;border-color:#bf616a;border-color:rgba(191,97,106,var(--border-opacity));color:#eceff4;color:rgba(236,239,244,var(--text-opacity));border-radius:.25rem}.invalid-message,.success-message{--bg-opacity:1;--text-opacity:1;padding:.5rem;margin-top:.5rem;font-size:.875rem}.success-message{background-color:#a3be8c;background-color:rgba(163,190,140,var(--bg-opacity));border-left-width:4px;--border-opacity:1;border-color:#5e81ac;border-color:rgba(94,129,172,var(--border-opacity));color:#434c5e;color:rgba(67,76,94,var(--text-opacity));border-radius:.25rem}.project-card{border-radius:.25rem;overflow:hidden;box-shadow:0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);width:16rem;cursor:pointer;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-timing-function:cubic-bezier(.4,0,1,1);transition-duration:.3s}.project-card:hover{--transform-translate-x:0;--transform-translate-y:0;--transform-rotate:0;--transform-skew-x:0;--transform-skew-y:0;--transform-scale-x:1;--transform-scale-y:1;transform:translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));--transform-translate-y:-0.5rem;box-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04);--transform-scale-x:1.05;--transform-scale-y:1.05}.project-card img{width:100%;height:14rem;-o-object-fit:cover;object-fit:cover}.project-card div{padding:1rem 1.5rem;--bg-opacity:1;background-color:#4c566a;background-color:rgba(76,86,106,var(--bg-opacity))}.project-card h1{font-weight:700;font-size:1.25rem;margin-bottom:.5rem}.project-card span{font-size:1.125rem;--text-opacity:1;color:#e5e9f0;color:rgba(229,233,240,var(--text-opacity))}.form-input{font-size:.875rem;--text-opacity:1;color:#d8dee9;color:rgba(216,222,233,var(--text-opacity));padding:.75rem;margin-top:.5rem;width:100%;outline:0;border-radius:.25rem;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-duration:.3s}.form-input .invalid{--bg-opacity:1;background-color:#bf616a;background-color:rgba(191,97,106,var(--bg-opacity))}@media (min-width:768px){.form-input,.form-input:focus{font-size:1rem}}.form-input:focus{box-shadow:0 0 0 3px rgba(66,153,225,.5);--bg-opacity:1;background-color:#434c5e;background-color:rgba(67,76,94,var(--bg-opacity))}.btn{padding:1rem 1.25rem;text-transform:uppercase;font-size:.875rem;font-weight:700;cursor:pointer;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-duration:.5s;outline:0}.btn:focus,.btn:hover{--transform-translate-x:0;--transform-translate-y:0;--transform-rotate:0;--transform-skew-x:0;--transform-skew-y:0;--transform-scale-x:1;--transform-scale-y:1;transform:translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));--transform-translate-y:-0.25rem;box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)}.social-icon{border-width:1px;border-radius:9999px;--border-opacity:1;border-color:#eceff4;border-color:rgba(236,239,244,var(--border-opacity));padding:.25rem .5rem;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-duration:.3s;transition-timing-function:cubic-bezier(.4,0,.2,1);outline:0}.social-icon:focus,.social-icon:hover{--border-opacity:1;border-color:#3b4252;border-color:rgba(59,66,82,var(--border-opacity))}.active,.social-icon:focus,.social-icon:hover{--text-opacity:1;color:#88c0d0;color:rgba(136,192,208,var(--text-opacity))}.active{font-weight:700}.modal{position:fixed;z-index:50;left:0;top:0;width:100vw;height:100vh;overflow:auto;--bg-opacity:1;background-color:#3b4252;background-color:rgba(59,66,82,var(--bg-opacity));--bg-opacity:0.75;box-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)}.modal-wrap{width:100%;height:100%;justify-content:center}.modal-content,.modal-wrap{display:flex;align-items:center}.modal-content{--bg-opacity:1;background-color:#2e3440;background-color:rgba(46,52,64,var(--bg-opacity));border-radius:.25rem;padding:2rem;width:80%;flex-direction:column}.modal-header{display:flex;width:100%;justify-content:space-between;align-items:flex-start;margin-bottom:2rem}.modal-title{text-transform:uppercase;font-weight:700;font-size:1.25rem}.modal-role{--text-opacity:1;color:#e5e9f0;color:rgba(229,233,240,var(--text-opacity))}.modal-close{cursor:pointer;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-timing-function:cubic-bezier(.4,0,1,1);transition-duration:.3s;--transform-translate-x:0;--transform-translate-y:0;--transform-rotate:0;--transform-skew-x:0;--transform-skew-y:0;--transform-scale-x:1;--transform-scale-y:1;transform:translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y))}.modal-close:hover{--transform-rotate:90deg}.modal-body{display:flex;flex-direction:column;align-items:center}@media (min-width:768px){.modal-content{width:75%}.modal-title{font-size:1.5rem}.modal-role{font-size:1.125rem}}@media (min-width:1024px){.modal-content{width:50%}}@media (min-width:640px){.sm\:container{width:100%;max-width:640px}@media (min-width:768px){.sm\:container{max-width:768px}}@media (min-width:1024px){.sm\:container{max-width:1024px}}@media (min-width:1280px){.sm\:container{max-width:1280px}}}@media (min-width:768px){.md\:container{width:100%}@media (min-width:640px){.md\:container{max-width:640px}}@media (min-width:768px){.md\:container{max-width:768px}}@media (min-width:1024px){.md\:container{max-width:1024px}}@media (min-width:1280px){.md\:container{max-width:1280px}}.md\:block{display:block}.md\:hidden{display:none}.md\:flex-row{flex-direction:row}.md\:items-center{align-items:center}.md\:justify-between{justify-content:space-between}.md\:order-1{order:1}.md\:h-48{height:12rem}.md\:text-lg{font-size:1.125rem}.md\:text-xl{font-size:1.25rem}.md\:text-3xl{font-size:1.875rem}.md\:text-5xl{font-size:3rem}.md\:mt-0{margin-top:0}.md\:mb-0{margin-bottom:0}.md\:mr-4{margin-right:1rem}.md\:mr-6{margin-right:1.5rem}.md\:ml-6{margin-left:1.5rem}.md\:max-w-md{max-width:28rem}.md\:max-w-lg{max-width:32rem}.md\:px-0{padding-left:0;padding-right:0}.md\:px-20{padding-left:5rem;padding-right:5rem}.md\:pt-0{padding-top:0}.md\:pt-8{padding-top:2rem}.md\:pb-12{padding-bottom:3rem}.md\:text-left{text-align:left}.md\:w-1\/2{width:50%}.md\:w-3\/4{width:75%}.md\:gap-10{grid-gap:2.5rem;gap:2.5rem}.md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}}@media (min-width:1024px){.lg\:container{width:100%}@media (min-width:640px){.lg\:container{max-width:640px}}@media (min-width:768px){.lg\:container{max-width:768px}}@media (min-width:1024px){.lg\:container{max-width:1024px}}@media (min-width:1280px){.lg\:container{max-width:1280px}}.lg\:w-3\/5{width:60%}}@media (min-width:1280px){.xl\:container{width:100%}@media (min-width:640px){.xl\:container{max-width:640px}}@media (min-width:768px){.xl\:container{max-width:768px}}@media (min-width:1024px){.xl\:container{max-width:1024px}}@media (min-width:1280px){.xl\:container{max-width:1280px}}.xl\:block{display:block}.xl\:flex-row{flex-direction:row}.xl\:justify-evenly{justify-content:space-evenly}.xl\:text-xl{font-size:1.25rem}.xl\:text-2xl{font-size:1.5rem}.xl\:text-6xl{font-size:4rem}.xl\:mt-0{margin-top:0}.xl\:text-left{text-align:left}.xl\:w-1\/2{width:50%}.xl\:gap-12{grid-gap:3rem;gap:3rem}.xl\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr))}}