<!-- 
# This file is a part of Michele Viotto's portfolio
# Copyright (C) 2020  Michele Viotto

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}
{% block content %}
<div class="min-h-screen min-w-screen flex flex-col justify-center items-center py-20">
  <div class="text-center w-full mb-8">
    <h1 class="text-2xl md:text-3xl font-medium uppercase">Add Project</h1>
  </div>
  <div class="bg-nord1 rounded p-12 shadow-inner w-3/4 lg:w-3/5 flex justify-center">
    <form action="" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="p-2 w-full mb-3">
        <label class="text-nord5" for="title">Title</label>
        {% if form.title.errors %}
          {{ form.title(class="form-input invalid", placeholder="Project 1") }}
          <div class="invalid-message">
            {% for error in form.title.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.title(class="bg-nord0 form-input", placeholder="Project 1") }}
        {% endif %}
      </div>
      <div class="p-2 w-full mb-3">
        <label class="text-nord5" for="role">Role</label>
        {% if form.role.errors %}
          {{ form.role(class="form-input invalid", placeholder="Developer") }}
          <div class="invalid-message">
            {% for error in form.role.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.role(class="bg-nord0 form-input", placeholder="Developer") }}
        {% endif %}
      </div>
      <div class="p-2 w-full mb-3">
        <label class="text-nord5" for="role">Description</label>
        {% if form.description.errors %}
          {{ form.description(class="form-input h-32 md:h-48 resize-none block invalid", placeholder="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nisi.") }}
          <div class="invalid-message">
            {% for error in form.description.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.description(class="bg-nord0 form-input h-32 md:h-48 resize-none block", placeholder="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nisi.") }}
        {% endif %}
      </div>
      <div class="p-2 w-full mb-3">
        <label class="text-nord5" for="role">Source Code Link</label>
        {% if form.source_code_link.errors %}
          {{ form.source_code_link(class="form-input invalid", placeholder="https://gitlab.com/....") }}
          <div class="invalid-message">
            {% for error in form.source_code_link.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.source_code_link(class="bg-nord0 form-input", placeholder="https://gitlab.com/....") }}
        {% endif %}
      </div>
      <div class="p-2 w-full mb-3">
        <label class="text-nord5" for="role">Logo</label>
        {% if form.logo.errors %}
          {{ form.logo(class="form-input invalid", placeholder="https://gitlab.com/....") }}
          <div class="invalid-message">
            {% for error in form.logo.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.logo(class="bg-nord0 form-input", placeholder="https://gitlab.com/....") }}
        {% endif %}
      </div>
    <div class="p-2 w-full text-center mt-4">
      {{ form.submit(class="btn bg-nord8 hover:opacity-75 text-nord0 inline-flex rounded") }}
    </div>
    </form>
  </div>
</div>
{% endblock%}