<!-- 
# This file is a part of Michele Viotto's portfolio
# Copyright (C) 2020  Michele Viotto

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}
{% block content %}
<div class="text-center w-full mb-8 mt-4">
  <h1 class="text-2xl md:text-3xl font-medium uppercase">Edit Project</h1>
</div>
<div class="flex justify-center pt-12 pb-12">
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 md:gap-10 xl:gap-12">
    <!-- projects cards -->
    {% for project in projects %}
      <div class="project-card">
        <a href="{{ url_for('manage.actually_edit_project', id=project.id) }}">
          <img src="{{ url_for('static', filename='projects_logos/' + project.logo) }}" alt="{{ project.title }}">
          <div>
            <h1>{{ project.title }}</h1>
            <span>{{ project.role }}</span>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}