<!-- 
# This file is a part of Michele Viotto's portfolio
# Copyright (C) 2020  Michele Viotto

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends 'base.html' %}
{% block content %}
  <!-- Navbar -->
  <div class="sticky top-0 z-30" id="navContainer">
    <div class="w-full flex flex-col md:flex-row justify-between items-center p-3 bg-nord0">
      <div class="w-full flex justify-between items-center">
        <a class="flex justify-start items-center outline-none" href="#">
          <img src="{{ url_for('static', filename='imgs/me.png') }}" alt="logo" class="w-8 rounded">
          <span class="ml-3 uppercase font-semibold">Michele Viotto</span>
        </a>
        <div class="md:hidden cursor-pointer p-1 rounded border border-nord2" id="navBtn">
          <svg class="w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </div>
      </div>
      <nav class="hidden md:block pt-3 md:pt-0" id="navbar">
        <div class="flex flex-col md:flex-row md:justify-between md:items-center text-center text-base uppercase">
          <a href="#landing" class="md:mr-4 outline-none focus:text-nord8 hover:text-nord8 nav-link">Home</a>
          <a href="#latest_projects" class="md:mr-4 outline-none focus:text-nord8 hover:text-nord8 nav-link">Progetti</a>
          <a href="#workExperiences" class="md:mr-4 outline-none focus:text-nord8 hover:text-nord8 nav-link">Carriera</a>
          <a href="#contactme" class="md:mr-4 outline-none focus:text-nord8 hover:text-nord8 nav-link">Contattami</a>
        </div>
      </nav>
    </div>
  </div>
  <!-- End Navbar -->

  <!-- Landing -->
  <section class="h-screen section" id="landing">
    <div class="h-full flex flex-col xl:flex-row justify-center xl:justify-evenly items-center landing">
      <div class="flex-row justify-center xl:block">
        <div class="font-bold text-4xl md:text-5xl xl:text-6xl tracking-wider font-serif">
          <span>Hey,</span>
          <span class="block -mt-4">Sono Michele!</span>
          <span class="block text-lg md:text-xl xl:text-2xl text-nord5">Front-End & Back-End Developer</span>
        </div>
        <div class="text-center xl:text-left mt-6">
          <a href="#latest_projects" class="btn bg-nord8 hover:opacity-75 text-nord0 inline-flex items-center">
            <span class="text-base md:text-lg xl:text-xl">Progetti recenti</span>
            <svg class="inline-block w-6 ml-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
          </a>
        </div>
      </div>
      <div class="mt-16 xl:mt-0">
        <img src="{{ url_for('static', filename='imgs/me.png') }}" alt="This is me" class="rounded-full">
      </div>
    </div>
  </section>
  <!-- End Landing -->

  <!-- Latest Projects -->
  <section id="latest_projects" class="section bg-nord1 py-20 text-center">
    <div>
      <h1 class="font-medium uppercase text-2xl md:text-3xl tracking-wide">Progetti recenti</h1>
      <div class="w-16 h-1 rounded-full bg-nord10 inline-flex"></div>
    </div>
    <div class="flex justify-center pt-12 pb-12">
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 md:gap-10 xl:gap-12">
        <!-- projects cards -->
        {% for project in projects %}
          <div class="project-card">
            <a onclick="showModal('project_modal_{{ project.id }}')">
              <img src="{{ url_for('static', filename='projects_logos/' + project.logo) }}" alt="{{ project.title }}">
              <div>
                <h1>{{ project.title }}</h1>
                <span>{{ project.role }}</span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    
    <!-- <div class="mt-5">
      <a href="#" class="btn border border-nord3 rounded inline-flex hover:border-nord8 hover:text-nord8">
        Tutti i progetti
      </a>
    </div> -->
  </section>
  <!-- End Latest Projects -->
  
  <!-- Work Experiences -->
  <section id="workExperiences" class="section py-20 text-center">
    <h1 class="text-2xl md:text-3xl font-medium uppercase tracking-wide mb-5">Esperienze lavorative</h1>
    <div class="w-16 h-1 rounded-full bg-nord10 inline-flex"></div>
    <div class="flex flex-col items-center justify-center pt-12 space-y-12">
      <div class="flex flex-col md:flex-row text-center md:text-left items-center md:items-center">
        <img src="{{ url_for('static', filename='imgs/fox_it.png') }}" alt="Fox Information Technology" class="w-40 rounded">
        <div class="mt-4 md:mt-0 md:ml-6">
          <h1 class="uppercase text-lg font-semibold">Fox Information Technology</h1>
          <small class="text-nord4">01/07/2019 - 26/07/2019, Liverpool UK</small>
          <div class="text-base mt-2 max-w-xs md:max-w-lg px-2 md:px-0">
            Configurazione di laptop e controllo di software per la sicurezza dei sistemi informatici dei clienti.
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row text-center md:text-left items-center md:items-center">
        <img src="{{ url_for('static', filename='imgs/cstv.png') }}" alt="Centro Sistemi Treviso SRL" class="w-40 md:order-1 rounded">
        <div class="mt-4 md:mt-0 md:mr-6">
          <h1 class="uppercase text-lg font-semibold">Centro Sistemi Treviso</h1>
          <small class="text-nord4">20/05/2019 - 14/06/2019, Italia IT</small>
          <div class="text-base mt-2 max-w-xs md:max-w-lg px-2 md:px-0">
            Sviluppo di schede per la gestione dei dispositivi assegnati ai dipendenti e delle loro visite mediche nel software ERP dell'azienda.
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Work Experiences -->

  <!-- Contact Me -->
  <section id="contactme" class="section py-20 px-12 bg-nord1">
    <div class="text-center w-full mb-8">
      <h1 class="text-2xl md:text-3xl font-medium uppercase">Contattami</h1>
    </div>
    <div class="bg-nord0 mx-auto rounded-lg shadow-lg py-6 px-8 md:pt-8 md:pb-12 md:px-20 md:w-3/4 xl:w-1/2">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="{{ category }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="flex flex-wrap">
        <form class="flex flex-wrap" action="" method="POST">
          {{ form.hidden_tag() }}
          <div class="p-2 w-full md:w-1/2 mb-3">
            <label class="text-nord5" for="name">Nome</label>
            {% if form.name.errors %}
              {{ form.name(class="form-input bg-nord11 shadow-inner", placeholder="John Doe") }}
              <div class="invalid-message">
                {% for error in form.name.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.name(class="form-input bg-nord1 shadow-inner", placeholder="John Doe") }}
            {% endif %}
          </div>
          <div class="p-2 w-full md:w-1/2 mb-3">
            <label class="text-nord5" for="email">Email</label>
            {% if form.email.errors %}
              {{ form.email(class="form-input bg-nord11 shadow-inner", placeholder="email@example.com") }}
              <div class="invalid-message">
                {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.email(class="form-input bg-nord1 shadow-inner", placeholder="email@example.com") }}
            {% endif %}
          </div>
          <div class="p-2 w-full inline-flex flex-col">
            <label class="text-nord5" for="message">Messaggio</label>
            {% if form.message.errors %}
              {{ form.message(class="form-input h-32 md:h-48 resize-none block bg-nord11 shadow-inner", placeholder="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nisi.") }}
              <div class="invalid-message">
                {% for error in form.message.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.message(class="form-input h-32 md:h-48 resize-none block bg-nord1 shadow-inner", placeholder="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nisi.") }}
            {% endif %}
          </div>
          <div class="p-2 w-full text-center mt-4">
            <button class="btn bg-nord8 hover:opacity-75 text-nord0 inline-flex rounded" type="submit">Contattami</button>
          </div>
        </form>
      </div>
      <div class="flex flex-col items-center justify-center w-full mt-5">
        <div class="w-32 h-px bg-nord3 self-center mb-5"></div>
        <a href="mailto:michele@micheleviotto.it" class="text-nord10 focus:outline-none hover:text-nord9 focus:text-nord9">michele@micheleviotto.it</a>
        <span>Treviso <span class="tracking-wider">(TV)</span>, Italy</span>
        <div class="flex mt-2 space-x-2">
          <a href="https://t.me/sonomichelequellostrano" class="social-icon" target="_blank"><i class="fab fa-telegram-plane w-6"></i></a>
          <a href="https://github.com/xMicky24GIT" class="social-icon" target="_blank"><i class="fab fa-github w-6"></i></a>
          <a href="https://gitlab.com/SonoMichele" class="social-icon" target="_blank"><i class="fab fa-gitlab w-6"></i></a>
          <a rel="me" href="https://fosstodon.org/@SonoMichele" class="social-icon" target="_blank"><i class="fab fa-mastodon w-6"></i></a>
          <a href="https://twitter.com/SonoMicheleYa" class="social-icon" target="_blank"><i class="fab fa-twitter w-6"></i></a>
          <a href="https://www.linkedin.com/in/michele-viotto-730574193/" class="social-icon" target="_blank"><i class="fab fa-linkedin-in w-6"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Me -->
  
  <!-- Footer -->
  <section class="section py-5 flex justify-center items-center">
    <footer><small class="text-nord4">&copy; Copyright 2020 - Michele Viotto. All Rights Reserved.</small></footer>
  </section>
  <!-- End Footer -->

  <!-- Projects Modals -->
  {% for project in projects %}
    <div id="project_modal_{{ project.id }}" class="modal hidden">
      <div class="modal-wrap">
        <div class="modal-content">
          <div class="modal-header">
            <div>
              <h1 class="modal-title">{{ project.title }}</h1>
              <h2 class="modal-role">{{ project.role }}</h2>
            </div>
            <span class="modal-close" onclick="hideModal('project_modal_{{ project.id }}')">
              <svg class="w-8" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M6 18L18 6M6 6l12 12"></path></svg>
            </span>
          </div>
          <div class="modal-body">
            <img class="w-64 rounded" src="{{ url_for('static', filename='projects_logos/' + project.logo) }}" alt="{{ project.title }}">
            <div class="mt-8 md:max-w-md">
              <span>{{ project.description }}</span>
              <span class="block mt-4 text-center text-sm">Check out the source code <a href="{{ project.source_code_link }}" class="text-nord7 hover:text-nord10 tracking-wide" target="_blank">here</a>!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <!-- End Projects Modals-->
{% endblock %}