<!-- 
# This file is a part of Michele Viotto's portfolio
# Copyright (C) 2020  Michele Viotto

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends 'base.html' %}
{% block content %}

<!-- Login Section -->
<section id="login" class="h-screen section px-12 flex">
  <div class="my-auto">
    <div class="text-center w-full mb-8">
      <h1 class="text-2xl md:text-3xl font-medium uppercase">LogIn</h1>
    </div>
    <div class="bg-nord1 mx-auto rounded-lg shadow-inner py-6 px-8 md:pt-8 md:pb-12 md:px-20 md:w-3/4 xl:w-1/2">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="{{ category }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="flex flex-wrap">
        <form class="flex flex-wrap" action="" method="POST">
          {{ form.hidden_tag() }}
          <div class="p-2 w-full md:w-1/2 mb-3">
            <label class="text-nord5" for="username">Username</label>
            {% if form.username.errors %}
              {{ form.username(class="form-input bg-nord11", placeholder="Username") }}
              <div class="invalid-message">
                {% for error in form.username.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.username(class="form-input bg-nord0", placeholder="Username") }}
            {% endif %}
          </div>
          <div class="p-2 w-full md:w-1/2 mb-3">
            <label class="text-nord5" for="password">Password</label>
            {% if form.password.errors %}
              {{ form.password(class="form-input bg-nord11", placeholder="**********") }}
              <div class="invalid-message">
                {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="form-input bg-nord0", placeholder="**********") }}
            {% endif %}
          </div>
          <div class="p-2 w-full text-center mt-4">
            {{ form.submit(class="btn bg-nord8 hover:opacity-75 text-nord0 inline-flex rounded") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Login Section -->

{% endblock %}