<!-- 
# This file is a part of Michele Viotto's portfolio
# Copyright (C) 2020  Michele Viotto

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}
{% block content %}
<div class="w-screen h-screen flex flex-col justify-center items-center">
  <div class="text-center w-full mb-8">
    <h1 class="text-2xl md:text-3xl font-medium uppercase">Manage</h1>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="{{ category }} mb-5" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="bg-nord1 rounded p-12 shadow-inner w-3/4 lg:w-3/5 flex justify-evenly items-center flex-wrap">
    <a href="{{ url_for('manage.add_project') }}" class="btn bg-nord0 rounded shadow-md mb-3 md:mb-0">Add Project</a>
    <a href="{{ url_for('manage.edit_project') }}" class="btn bg-nord0 rounded shadow-md mb-3 md:mb-0">Edit Project</a>
    <a href="{{ url_for('manage.remove_project') }}" class="btn bg-nord0 rounded shadow-md mb-3 md:mb-0">Delete Project</a>
  </div>
</div>
{% endblock %}