<!-- 
# This file is a part of Michele Viotto's portfolio
# Copyright (C) 2020  Michele Viotto

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}
{% block content %}
<form class="flex flex-wrap" action="" method="POST">
  {{ form.hidden_tag() }}
  <div class="p-2 w-full md:w-1/2 mb-3">
    <label class="text-nord5" for="username">Username</label>
    {% if form.username.errors %}
      {{ form.username(class="form-input invalid", placeholder="Username") }}
      <div class="invalid-message">
        {% for error in form.username.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.username(class="form-input", placeholder="Username") }}
    {% endif %}
  </div>
  <div class="p-2 w-full md:w-1/2 mb-3">
    <label class="text-nord5" for="password">Email</label>
    {% if form.email.errors %}
      {{ form.email(class="form-input invalid", placeholder="**********") }}
      <div class="invalid-message">
        {% for error in form.email.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.email(class="form-input", placeholder="**********") }}
    {% endif %}
  </div>
  <div class="p-2 w-full md:w-1/2 mb-3">
    <label class="text-nord5" for="password">Password</label>
    {% if form.password.errors %}
      {{ form.password(class="form-input invalid", placeholder="**********") }}
      <div class="invalid-message">
        {% for error in form.password.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.password(class="form-input", placeholder="**********") }}
    {% endif %}
  </div>
  <div class="p-2 w-full md:w-1/2 mb-3">
    <label class="text-nord5" for="password">Confirm Password</label>
    {% if form.confirm_password.errors %}
      {{ form.confirm_password(class="form-input invalid", placeholder="**********") }}
      <div class="invalid-message">
        {% for error in form.confirm_password.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.confirm_password(class="form-input", placeholder="**********") }}
    {% endif %}
  </div>
  <div class="p-2 w-full text-center mt-4">
    {{ form.submit(class="btn bg-nord8 hover:opacity-75 text-nord0 inline-flex rounded") }}
  </div>
</form>
{% endblock %}