<!-- 
# This file is a part of Michele Viotto's portfolio
# Copyright (C) 2020  Michele Viotto

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}
{% block content %}
<div class="text-center w-full mb-8 mt-4">
  <h1 class="text-2xl md:text-3xl font-medium uppercase">Remove Project</h1>
</div>
<div class="flex justify-center pt-12 pb-12">
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 md:gap-10 xl:gap-12">
    <!-- projects cards -->
    {% for project in projects %}
      <div class="project-card">
        <a onclick="showModal('project_modal_{{ project.id }}')">
          <img src="{{ url_for('static', filename='projects_logos/' + project.logo) }}" alt="{{ project.title }}">
          <div>
            <h1>{{ project.title }}</h1>
            <span>{{ project.role }}</span>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Projects Modals -->
{% for project in projects %}
<div id="project_modal_{{ project.id }}" class="modal hidden">
  <div class="modal-wrap">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h1 class="modal-title tracking-wide">Type <span class="lowercase text-nord11">{{ project.title }}</span> to delete project</h1>
        </div>
        <span class="modal-close" onclick="hideModal('project_modal_{{ project.id }}')">
          <svg class="w-8" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M6 18L18 6M6 6l12 12"></path></svg>
        </span>
      </div>
      <div class="modal-body">
        <input id="input_{{ project.id }}" type="text" class="form-input bg-nord1" placeholder="{{ project.title }}">
        <button class="btn bg-nord11 rounded mt-3" onclick="remove_project('input_{{ project.id }}', '{{ project.title }}', '{{ project.id }}')">REMOVE</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Projects Modals-->
<script>
  function remove_project(input_id, title, id) {
    input = document.getElementById(input_id).value
    if (input == title.toLowerCase()) {
      window.location.href = `removeproject/${id}`
    }
  }
</script>
{% endblock %}